@import '../../bower_components/normalize-css/normalize.css';
@import '../../bower_components/jquery.uniform/themes/default/css/uniform.default.css';
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
}
input,
input:focus {
  outline: none;
}
.warp {
  position: absolute;
  width: 100%;
}
.container {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
.pure-menu-fixed ~ .main {
  padding-top: 4rem;
}
.fixed-bottom {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
#header {
  background: #f3f3f3;
}
#header .pure-menu-link {
  padding: 1rem 2rem;
}
#header .active {
  background: #1f8dd6;
  color: #fff;
}
#footer {
  background: #111;
  color: #7f8c8d;
}
