@import '../../bower_components/pure/pure-min.css';
@import '../../bower_components/jquery.uniform/themes/default/css/uniform.default.css';
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
}
input,
input:focus {
  outline: none;
}
.warp {
  position: absolute;
  width: 100%;
}
.container {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
.pure-menu-fixed ~ .main {
  padding-top: 4rem;
}
.fixed-bottom {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}
.pure-g [class*="pure-u"] {
  padding: 0 15px;
}
.swap-enter {
  opacity: 0.01;
  -webkit-transform: translateX(5em);
          transform: translateX(5em);
  transition: all 0.5s ease-in;
}
.swap-enter.swap-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.swap-leave {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  transition: all 0.5s ease-in;
}
.swap-leave.swap-leave-active {
  opacity: 0;
  -webkit-transform: translateX(-5em);
          transform: translateX(-5em);
}
.example-enter {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}
.example-enter.example-enter-active {
  opacity: 1;
}
.example-leave {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.example-leave.example-leave-active {
  opacity: 0;
}
#header {
  background: #f3f3f3;
}
#header .pure-menu-link {
  padding: 1rem 2rem;
}
#header .active {
  background: #1f8dd6;
  color: #fff;
}
#footer {
  background: #111;
  color: #7f8c8d;
  line-height: 32px;
  height: 32px;
  padding: 0 20px;
}
