#header {
    background: rgba(255,255,255,.75);
    .pure-menu-link {
        padding: 1rem 2rem;
        line-height: 2rem;
    }
    .active {
        background: #1f8dd6;
        color: #fff;
    }
}